// 文章详情
.article-show{
  padding: 15px;
  .meta{
    // border-bottom: 1px solid #0000000f;
    // border-top: 1px solid #0000000f;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 20px;
    // margin-top: 10px;
    color: #8A8F9B;
    
    ul{
      display: flex;
      align-items: center;
      margin: 0;
      li{
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
  .author{
    display: flex;
    align-items: center;
    margin: 20px 0;
    ul{
      margin: 0;
      list-style: none;
      .author-name{
        font-size: 16px;
        font-weight: 400;
        color: #000;
      }
      li{
        margin-left: 4px;
        color: #8A8F9B;
      }
    }
  }
  .ant-space + .ant-space{
    margin-left: 15px;
  }
  h1.ant-typography{
    font-size: 24px;
    // font-weight: normal;
  }
  .content{
    font-size: 18px;
    // white-space: break-spaces;
  }  
  .menu-btn{
    border: none;
    color: white;
    background: #20232a;
    position: fixed;
    right: 15px;
    bottom: 50px;
    z-index: 7;
  }
  // .article-prview & {
  //   .menu-btn{
  //     bottom: 50px;
  //   }
  // }
}