@import '~antd/dist/antd.css';
@import './components/progress.scss';
@import './components/header.scss';
@import './components/userDrawer.scss';
@import './pages/login.scss';

// 框架布局
#root{
  height: 100vh;
}
.main{
  height: calc(100vh - 50px);
  padding-top: 50px;
  box-sizing: content-box;
}