@import '~antd/dist/antd.css';
@import './markdown.scss';
// @import "~highlight.js/styles/a11y-dark.css";
// @import './prism-xonokai.css';
@import 'bytemd/dist/index.min.css';
@import './components/progress.scss';
@import './components/header.scss';
@import './components/userDrawer.scss';
@import './components/loading.scss';
@import './pages/login.scss';
@import './pages/home.scss';
@import './pages/articleShow.scss';
@import './pages/articleEdit.scss';

// 框架布局
#root{
  height: 100vh;
}
.main{
  height: calc(100vh - 50px);
  padding-top: 50px;
  box-sizing: content-box;
}

.loadmore, .nomore{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  .anticon{
    margin-right: 10px;;
  }
}

.markdown-body{
  font-size: 16px;
  > :first-child{
    // background: red;
    margin-top: 0;
  }
}

code[class*=language-]{
  font-size: 14px;
}


